<html>
    <head>
        <title>Таня привет</title>
    </head>
    <body>
        <div>
            <h1><a href="/">таня привеет</a></h1>
        </div>

        <div>
            <p>опубликовано: 07.09.2020, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>здарова таня</p>
        </div>

        <div>
            <p>опубликовано: 07.09.2020, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>нормальный сайт такой да?</p>
        </div>
    </body>
</html>
